@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-parchment-100;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-ink-400 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-ink-600;
  }
}

@layer components {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    opacity: 1;
  }
}
